################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/slnx.sqlite
/.vs/MMM-Dad-Jokes/config/applicationhost.config
/.vs/MMM-Dad-Jokes/v16/.suo
/.vs/ProjectSettings.json
